
<form method="POST">
  <div>
    <label for="pseudo">Pseudo :</label>
    <input #pseudo type="text" name="pseudo" id="pseudo" ngModel />
  </div>
  <div>
    <label for="commentaire">Commentaire :</label>
    <textarea #commentaire type="text" name="commentaire" id="commentaire" ngModel ></textarea>
  </div>
  <div>
    <label for="fichier">Fichier :</label>
    <input #fichier type="file" name="fichier" id="fichier" ngModel />
  </div>
  <button class="btn btn-primary" type="submit" (click)="onSubmit(pseudo.value, commentaire.value, fichier.value)">Submit</button>
</form>
<hr>
<div *ngFor="let item of files | AddDate" style="margin-bottom: 30px;">
  <span><b>{{ item.Pseudo }}</b></span><br>
  <span>{{ item.Text }}</span><br>
  <span>File : {{ item.Filename }}</span>
  <button (click)="download(item.Filename)">Download</button>
</div>