
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <label for="pseudo">Pseudo :</label>
    <input type="text" name="pseudo" id="pseudo" ngModel />
  </div>
  <div>
    <label for="commentaire">Commentaire :</label>
    <textarea type="text" name="commentaire" id="commentaire" ngModel ></textarea>
  </div>
  <div>
    <label for="fichier">Fichier :</label>
    <input type="file" name="fichier" id="fichier" ngModel />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>